div.pnd-tree-menu ul {
	list-style-type: none;
	margin: 0; 
	padding: 0;
}
div.pnd-tree-menu li {
	margin: 0 0 -1px 0;
	padding:0;
	position: relative;
}
div.pnd-tree-menu li.closed ul {
	display: none;
}
.pnd-tree-menu li a {
	display: block;
	border: 1px solid #fac889;
	text-decoration: none;
	color: #000;
	padding: 10px 35px 10px 7px;
}
.pnd-tree-menu li a:hover {
	background: #f59910;
}
.pnd-tree-menu li.selected > a {
	background: #fdc326;
}
.pnd-tree-menu ul.level-1 > li > a {
	text-transform: uppercase;
	font-weight: bold;
}
.pnd-tree-menu ul {
	background: #e59123; /*f8a536;*/
}
.pnd-tree-menu ul.level-1 {
	background: #fee592;
}
.pnd-tree-menu ul.level-2 {
	background: #f6e271;
}
.pnd-tree-menu ul.level-3 {
	background: #efba4d;
}
.pnd-tree-menu ul.sublevel {
	margin-top: -1px;
}
.pnd-tree-menu .folder {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	right: 0;
	background: url(images/arrow_gray_down.png) no-repeat center center;
}
.pnd-tree-menu .closed .folder {
	background-image: url(images/arrow_gray_right.png);
}
.pnd-tree-menu ul.level-1 > li > .folder {
	background-image: url(images/arrow_black_down.png);
}
.pnd-tree-menu ul.level-1 > li.closed > .folder {
	background-image: url(images/arrow_black_right.png);
}
