.bx_catalog_tile { margin-bottom: 0; }
.is-collection__images { padding: 20px; border-bottom: solid 1px #ededed; }
.is-collection__block { padding-bottom: 20px; }
.is-sort__block { padding-bottom: 20px; margin-bottom: 20px; }
.bx_content_section .is-goods__slider { margin-bottom: 30px }